{:datomic-repo {:repositories
                {"my.datomic.com" {:url "https://my.datomic.com/repo"
                                   :username "USERNAME"
                                   :password "PASSWORD"}}}
 :dev [:datomic-repo]}
