{:aws {:creds {:access-key "AAAA..."
               :secret-key "eCaZ5w..."}
       :s3 {:bucket "usps-scan-bucket"}
       :sqs {:region #aws/region "US_WEST_2"
             :queue "scans"
             :fail-queue "scan-failures"}}
 :datomic {:uri "datomic:dev://datomic-tx:4334/usps-processor"
           :partition :usps-processor}
 :api {:port 8082}}
