<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} %-5level [%logger] \(%thread\) %message%n</pattern>
    </encoder>
  </appender>

  <logger name="datomic" level="${log-level:-WARN}"/>
  <logger name="usps-processor" level="${log-level:-DEBUG}"/>

  <root level="${log-level:-INFO}">
    <appender-ref ref="Console"/>
  </root>
</configuration>
